<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Phương án
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-list inset *ngFor="let item of phuongans">
      <ion-list-header>
        <button ion-item (click)="itemSelected(item)">
          <ion-icon *ngIf="!item.clicked" name="ios-arrow-forward-outline"></ion-icon>
          <ion-icon *ngIf="item.clicked" name="ios-arrow-down-outline"></ion-icon>
          <h1>{{item.text}}</h1>
        </button>
      </ion-list-header>
          <page-vattu  [vattus]="item.vattus" *ngIf="item.clicked"></page-vattu>
    </ion-list>
</ion-content>