page-phuongan {
    ion-icon.icon.icon-md.item-icon {
        float: right;
        font-size: -webkit-xxx-large;
        color: rgba(155, 154, 154, 0.911);
        padding-left: 10px;
    }
    // button.item.item-block.item-md {
    //     padding-left: unset;
    // }
    // ion-list-header.item.item-md.list-header.list-header-md {
    //     padding-left: unset;
    // }
    ion-list-header.item.item-md.list-header.list-header-md {
        padding-left:  unset;
    }
}
