@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?jmm95l');
  src:  url('../assets/fonts/icomoon.eot?jmm95l#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?jmm95l') format('truetype'),
    url('../assets/fonts/icomoon.woff?jmm95l') format('woff'),
    url('../assets/fonts/icomoon.svg?jmm95l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thongke:before,
.ion-md-icon-thongke:before,
.ion-ios-icon-thongke:before{
  content: "\e901";
}
.icon-suachua:before,
.ion-md-icon-suachua:before,
.ion-ios-icon-suachua:before {
  content: "\e902";
}
.icon-custom-truck:before,
.ion-md-icon-custom-truck:before,
.ion-ios-icon-custom-truck:before {
  content: "\e900";
}
